<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boc.system.mapper.IpAreasMapper">
    
    <resultMap type="IpAreas" id="IpAreasResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectIpAreasVo">
        select id, name from ip_areas
    </sql>

    <select id="selectIpAreasList" parameterType="IpAreas" resultMap="IpAreasResult">
        <include refid="selectIpAreasVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectIpAreasById" parameterType="Long" resultMap="IpAreasResult">
        <include refid="selectIpAreasVo"/>
        where id = #{id}
    </select>

    <insert id="insertIpAreas" parameterType="IpAreas" useGeneratedKeys="true" keyProperty="id">
        insert into ip_areas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
         </trim>
    </insert>

    <update id="updateIpAreas" parameterType="IpAreas">
        update ip_areas
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIpAreasById" parameterType="Long">
        delete from ip_areas where id = #{id}
    </delete>

    <delete id="deleteIpAreasByIds" parameterType="String">
        delete from ip_areas where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>