<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boc.system.mapper.NetworkDevicesMapper">

    <resultMap type="NetworkDevices" id="NetworkDevicesResult">
        <result property="id"    column="id"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="macAddress"    column="mac_address"    />
        <result property="accessDeviceName"    column="access_device_name"    />
        <result property="accessDeviceIp"    column="access_device_ip"    />
        <result property="portNumber"    column="port_number"    />
        <result property="ipAreaId"    column="ip_area_id"    />
        <result property="organization"    column="organization"    />
        <result property="personInCharge"    column="person_in_charge"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="devicePurpose"    column="device_purpose"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectNetworkDevicesVo">
        select id, ip_address, mac_address, access_device_name, access_device_ip, port_number, ip_area_id, organization, person_in_charge, device_type_id, device_purpose, create_by, create_time, update_by, update_time, remark from network_devices
    </sql>

    <select id="selectNetworkDevicesList" parameterType="NetworkDevices" resultMap="NetworkDevicesResult">
        <include refid="selectNetworkDevicesVo"/>
        <where>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address like concat('%', #{ipAddress}, '%')</if>
            <if test="macAddress != null  and macAddress != ''"> and mac_address = #{macAddress}</if>
            <if test="accessDeviceName != null  and accessDeviceName != ''"> and access_device_name like concat('%', #{accessDeviceName}, '%')</if>
            <if test="accessDeviceIp != null  and accessDeviceIp != ''"> and access_device_ip = #{accessDeviceIp}</if>
            <if test="portNumber != null "> and port_number = #{portNumber}</if>
            <if test="ipAreaId != null "> and ip_area_id = #{ipAreaId}</if>
            <if test="organization != null  and organization != ''"> and organization = #{organization}</if>
            <if test="personInCharge != null  and personInCharge != ''"> and person_in_charge = #{personInCharge}</if>
            <if test="deviceTypeId != null "> and device_type_id = #{deviceTypeId}</if>
            <if test="devicePurpose != null  and devicePurpose != ''"> and device_purpose = #{devicePurpose}</if>
            <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectNetworkDevicesById" parameterType="Long" resultMap="NetworkDevicesResult">
        <include refid="selectNetworkDevicesVo"/>
        where id = #{id}
    </select>

    <insert id="insertNetworkDevices" parameterType="NetworkDevices" useGeneratedKeys="true" keyProperty="id">
        insert into network_devices
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null">ip_address,</if>
            <if test="macAddress != null">mac_address,</if>
            <if test="accessDeviceName != null">access_device_name,</if>
            <if test="accessDeviceIp != null">access_device_ip,</if>
            <if test="portNumber != null">port_number,</if>
            <if test="ipAreaId != null">ip_area_id,</if>
            <if test="organization != null">organization,</if>
            <if test="personInCharge != null">person_in_charge,</if>
            <if test="deviceTypeId != null">device_type_id,</if>
            <if test="devicePurpose != null">device_purpose,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null">#{ipAddress},</if>
            <if test="macAddress != null">#{macAddress},</if>
            <if test="accessDeviceName != null">#{accessDeviceName},</if>
            <if test="accessDeviceIp != null">#{accessDeviceIp},</if>
            <if test="portNumber != null">#{portNumber},</if>
            <if test="ipAreaId != null">#{ipAreaId},</if>
            <if test="organization != null">#{organization},</if>
            <if test="personInCharge != null">#{personInCharge},</if>
            <if test="deviceTypeId != null">#{deviceTypeId},</if>
            <if test="devicePurpose != null">#{devicePurpose},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateNetworkDevices" parameterType="NetworkDevices">
        update network_devices
        <trim prefix="SET" suffixOverrides=",">
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="macAddress != null">mac_address = #{macAddress},</if>
            <if test="accessDeviceName != null">access_device_name = #{accessDeviceName},</if>
            <if test="accessDeviceIp != null">access_device_ip = #{accessDeviceIp},</if>
            <if test="portNumber != null">port_number = #{portNumber},</if>
            <if test="ipAreaId != null">ip_area_id = #{ipAreaId},</if>
            <if test="organization != null">organization = #{organization},</if>
            <if test="personInCharge != null">person_in_charge = #{personInCharge},</if>
            <if test="deviceTypeId != null">device_type_id = #{deviceTypeId},</if>
            <if test="devicePurpose != null">device_purpose = #{devicePurpose},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNetworkDevicesById" parameterType="Long">
        delete from network_devices where id = #{id}
    </delete>

    <delete id="deleteNetworkDevicesByIds" parameterType="String">
        delete from network_devices where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>