<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boc.system.mapper.SysDeviceInfoMapper">
    
    <resultMap type="SysDeviceInfo" id="SysDeviceInfoResult">
        <result property="id"    column="id"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="hostType"    column="host_type"    />
        <result property="appType"    column="app_type"    />
        <result property="switchIp"    column="switch_ip"    />
        <result property="switchDept"    column="switch_dept"    />
        <result property="deviceInfoPoint"    column="device_info_point"    />
        <result property="location"    column="location"    />
        <result property="admin"    column="admin"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysDeviceInfoVo">
        select id, ip_address, host_type, app_type, switch_ip, switch_dept, device_info_point, location, admin, remark, create_by, create_time, update_by, update_time, del_flag from sys_device_info
    </sql>

    <select id="selectSysDeviceInfoList" parameterType="SysDeviceInfo" resultMap="SysDeviceInfoResult">
        <include refid="selectSysDeviceInfoVo"/>
        <where>  
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address like concat('%', #{ipAddress}, '%')</if>
            <if test="hostType != null  and hostType != ''"> and host_type = #{hostType}</if>
            <if test="appType != null  and appType != ''"> and app_type = #{appType}</if>
            <if test="switchIp != null  and switchIp != ''"> and switch_ip = #{switchIp}</if>
            <if test="switchDept != null  and switchDept != ''"> and switch_dept = #{switchDept}</if>
            <if test="deviceInfoPoint != null  and deviceInfoPoint != ''"> and device_info_point = #{deviceInfoPoint}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="admin != null  and admin != ''"> and admin = #{admin}</if>
        </where>
    </select>
    
    <select id="selectSysDeviceInfoById" parameterType="Long" resultMap="SysDeviceInfoResult">
        <include refid="selectSysDeviceInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysDeviceInfo" parameterType="SysDeviceInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_device_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null and ipAddress != ''">ip_address,</if>
            <if test="hostType != null and hostType != ''">host_type,</if>
            <if test="appType != null and appType != ''">app_type,</if>
            <if test="switchIp != null and switchIp != ''">switch_ip,</if>
            <if test="switchDept != null and switchDept != ''">switch_dept,</if>
            <if test="deviceInfoPoint != null and deviceInfoPoint != ''">device_info_point,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="admin != null and admin != ''">admin,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ipAddress != null and ipAddress != ''">#{ipAddress},</if>
            <if test="hostType != null and hostType != ''">#{hostType},</if>
            <if test="appType != null and appType != ''">#{appType},</if>
            <if test="switchIp != null and switchIp != ''">#{switchIp},</if>
            <if test="switchDept != null and switchDept != ''">#{switchDept},</if>
            <if test="deviceInfoPoint != null and deviceInfoPoint != ''">#{deviceInfoPoint},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="admin != null and admin != ''">#{admin},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysDeviceInfo" parameterType="SysDeviceInfo">
        update sys_device_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="ipAddress != null and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="hostType != null and hostType != ''">host_type = #{hostType},</if>
            <if test="appType != null and appType != ''">app_type = #{appType},</if>
            <if test="switchIp != null and switchIp != ''">switch_ip = #{switchIp},</if>
            <if test="switchDept != null and switchDept != ''">switch_dept = #{switchDept},</if>
            <if test="deviceInfoPoint != null and deviceInfoPoint != ''">device_info_point = #{deviceInfoPoint},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="admin != null and admin != ''">admin = #{admin},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysDeviceInfoById" parameterType="Long">
        delete from sys_device_info where id = #{id}
    </delete>

    <delete id="deleteSysDeviceInfoByIds" parameterType="String">
        delete from sys_device_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>